[2019-07-12 12:41] alexmillane opened #2 "Sim Time Hanging"
Due to the use of a busy wait on TF data in a callback thread here:

https://github.com/ethz-asl/voxgraph/blob/master/voxgraph/src/frontend/voxgraph_mapper.cpp#L310

The mapper can hang at the end of a bag, when `/clock` is no longer published, but data is not yet fully processed. This prevents further interaction with the node, for example when a user wants to save optimized map elements.

The ea

[2020-04-28 09:43] #2 closed

[2020-05-06 11:32] RigerLee opened #27 "TfTransformer::lookupTransform doesnot have return value"
Thank you for your great work!
I've run this code using my own data and found a small problem [here](https://github.com/ethz-asl/voxgraph/blob/master/voxgraph/src/frontend/map_tracker/transformers/tf_transformer.cpp). I believe TfTransformer::lookupTransform should return true at the end of this function.

[2020-05-06 12:10] victorreijgwart commented on #27
Thank you!
Yes, you're right. We have a PR open that would fix this issue [here](https://github.com/ethz-asl/voxgraph/pull/16#discussion_r411679989) - but it might take a few more days until it's merged.
If you prefer you could also open a separate PR to fix this issue, then we could merge the fix right away.

[2020-05-07 06:40] RigerLee commented on #27
Ok, just use this issue to remind newcomers like me before your merge :)

[2020-05-07 06:40] #27 closed

[2020-05-12 22:36] Caveats opened #28 "Octomap comparison."
Hello! This looks phenomenal. I'd love the chance to discuss your work!
We're looking at a very similar use case - based on Octrees / Octomap - which leads into a sanitised display via Unity.

I've got an SD card on it's way (no PI just a Nano) so really interested to see what tracking is resolved. I've got some indoor localised RealSense 435i footage of flat navigation - using the depth cam + IMU

[2020-05-13 23:55] victorreijgwart commented on #27
@RigerLee PR #16 is now merged :)

[2020-05-19 11:53] resplendent-star opened #30 "HI，i am new player with ROS |ERROR in config: Command requires a target workspace."
lzw@resplendent-star:~/resplendent_code/SLAM/voxgraph_ws/src$ wstool merge ./voxgraph/voxgraph_ssh.rosinstall
ERROR in config: Command requires a target workspace.

[2020-05-19 11:53] resplendent-star commented on #30
lzw@resplendent-star:~/resplendent_code/SLAM/voxgraph_ws$ catkin init
Initializing catkin workspace in `/home/lzw/resplendent_code/SLAM/voxgraph_ws`.
-----------------------------------------------------------------------------------
Profile:                     default
Extending:             [env] /home/lzw/resplendent_code/basic_code/teach_ws/devel:/home/lzw/resplendent_code/kimera_semantic_ws/d

[2020-05-21 13:06] #30 closed

[2020-05-25 10:01] victorreijgwart commented on #28
Hi Caveats,
Glad to hear that you're interested in this code :)
The answer to your question about octrees is that it depends. Voxgraph uses [voxblox](https://github.com/ethz-asl/voxblox) as its mapping framework, which instead of octrees uses a hashmap of blocks (each block typically contains 16x16x16 voxels). These hashmaps are usually computationally more lightweight in terms of updates and rand

[2020-05-25 19:27] Caveats commented on #28
Very impressive and thank you for the details.

We're looking at Octomaps (and have found that approx 30cm+ squares is a good place to target)
Our EP1 uses Ultrasonics and MM Wave to range and detect. Whilst Volumetric is expensive when we knock this down to something closer to a "experience map" - as opposed to be it being scanned and referred to for navigation.

Our solution doesn't need the nav

[2020-06-01 11:47] hridaybavle opened #31 "Voxgraph RVIZ plugin"
Hi,

Great job with the voxgraph, amazing work!! I am trying to use Voxgraph for mapping using RBGD cameras. I am able to output and visualize the /**combined_mesh** in rviz but not the /**submap_surface_pointclouds** as the msg is of voxgraph. I see in your [video](https://www.youtube.com/watch?v=N9p1_Fkxxro&feature=youtu.be) you are able visualize the RGB pointcloud map.

Could you tell me how t

[2020-06-15 13:03] victorreijgwart commented on #31
Hi!

Sorry for the late reply. The `/submap_surface_pointclouds` only contain the mesh vertices.
For visualization we usually use the `/combined_mesh` or `/separated_mesh` topics. What you're looking for is probably the `/combined_mesh` colored by RGB value, instead of by normals (default). You can change it [here in the code](https://github.com/ethz-asl/voxgraph/blob/1289be1d260f18b0f89b1dfa959ec

[2020-06-15 13:05] victorreijgwart commented on #28
Hi Caveats, that's great to hear!
If you have any more questions, please don't hesitate to ask. In the meantime, can I close this issue?

[2020-06-17 22:30] #28 closed

[2020-06-20 11:09] hridaybavle commented on #31
Thanks for the reply, I will try it as you mention :) For now I will close this issue.

[2020-06-20 11:09] #31 closed

[2020-07-15 15:21] alanpapalia opened #32 "Bug in demo given in README"
It appears that the TFs aren't published consistently in the ROSbag provided in the demo with the following `bash` commands

[code]

When running :

[code]

I am receiving these errors:

[code]

The TF tree for most of the bag appears to be as such: [frames.pdf](https://github.com/ethz-asl/voxgraph/files/4926154/frames.pdf)

[2020-07-15 21:24] victorreijgwart commented on #32
Hi Alan, this error usually appears a few times at the start of the rosbag. After a few seconds, once everything has started up, it should go away. Does that also happen for you? Or does the error persist?
The first submap is finished after 10 seconds, so you might have to give it some time (e.g. 15s) before things start to appear in Rviz.

[2020-07-15 23:27] alanpapalia commented on #32
The error persists throughout almost the entire bag, though it appears to find some correct transforms at the end of the file. I'm making this assumption based on the fact that I was able to get this output in RViz at the very end of the bag (after several minutes). Thank you, it is good to know that it is likely coming from the lidar_undistortion node.

![image](https://user-images.githubusercont

[2020-07-16 13:58] alanpapalia commented on #32
Hi, it's worth noting that when running on various parts of the KITTI dataset the errors mentioned above disappear but still most of the mesh seems to be missing.

For KITTI data I am using the following frames, could that be the issue? It seems like suitesparse is able to formulate the problem and, for the most part, solve it. Still, at no point does there appear to be anything published as `/vox

[2020-07-16 21:16] victorreijgwart commented on #32
What sort of computer are you running the experiments on?
The meshes should be published to `/voxgraph_mapper/combined_mesh` and `/voxgraph_mapper/separated_mesh`.
I'll boot into my work computer and post a snapshot of the tf tree here in a few minutes.

[2020-07-16 21:26] alanpapalia commented on #32
I'm running Acer NITRO 5 AN515-53-55G9 with Intel i5 8th gen processor, Ubuntu 18.04, ROS Melodic

My apologies, I had assumed that `/voxgraph_mapper/active_mesh ` would be used but I now see that is not the case.

This does seem unusual, as on the KITTI dataset no warnings or errors are appearing but very little mesh is being displayed, if any, even on 5 minute long bag files.

[2020-07-16 22:00] victorreijgwart commented on #32
The computer you're running it on should definitely be fast enough.
The TF tree when running the `arche_demo.launch` on the current master branch should look like this:
![image](https://user-images.githubusercontent.com/6238939/87726665-c241e200-c7bf-11ea-9675-a76463ebfd51.png)

[2020-07-16 22:18] victorreijgwart commented on #32
And in Rviz it should look like this:
![output](https://user-images.githubusercontent.com/6238939/87728203-da673080-c7c2-11ea-8e2e-400dfe2a5b2e.gif)

High-quality, not sped up video here: https://u.pcloud.link/publink/show?code=XZhwPNkZyEyOer8B5UkjAytw6PbAJQceOWdk

[2020-07-16 22:33] victorreijgwart commented on #32
The issue could be that your odom and base_link frames are set to the same value.
The base link frame should be set to the coordinate frame of the robot's body. If you're using an inertial odometry estimator, like ROVIO, it would usually estimate the pose of the robot's IMU and we would, therefore, use this.
The odom frame should be set to the fixed frame in which the odometry is expressed, for ex

[2020-07-17 07:13] alexmillane commented on #32
If you're running the provided launchfile, all the frames _should_ be set up correctly.

I guess there could be some delay in the rosbag publisher??? I have, on occassion on slower machines, had some weird issues with playing large bags. This is a bit of a shot in the dark. Are you playing the bag off an SSD? You could try increasing the rosbag play output queue, or slowing down the play rate to g

[2020-07-17 13:08] alanpapalia commented on #32
I'm running off an SSD, it seems like the bagfile is playing at a normal speed. There's an added issue I'd forgotten that is giving Compiler Error and might be indicative of the underlying issue?

[code]

It seems like the issue here is some linker error where CMake isn't properly linking to `loop_closure_edge_server.h`. I've had the same issue on two separate machines, with GCC and Clang compiler

[2020-07-23 07:58] alexmillane commented on #32
Any progress here Alan?

[2020-07-23 12:48] alanpapalia commented on #32
Hey Alex, thanks for checking in. We've had success installing and running on a different computer (the 3rd computer tried). Sometime soon I think I'm going to try to check all the different software versions and see if that's the issue. It still seems like there's a difference in how it's getting compiled, as there are some odd linker errors on the first two computers attempted, but it's not obvi

[2020-07-23 13:06] alexmillane commented on #32
Hmm weird. Let us know if you find anything. Probably time for us to set up some CI honestly.

[2020-08-13 03:47] robot-mh opened #33 "How to select dense mapping tool?"
Thanks for your amazing work.
As there have voxblox/voxblox++/c-blox/voxgraph，how to choose which to use ？
Than you.
@alexmillane @ZacharyTaylor @ffurrer @michaelpantic @LBern

[2020-08-13 13:10] LXYYY commented on #32
hi, I am running voxgraph in both ubuntu 16 and 18 dockers, and I have the same issue with Alan, firstly, the set_unknown_covariance_entries_to_ undefined issue, and secondly the optimization going really slow. But the most weirdly, yesterday when I ran it on a ubuntu18 docker, everything works perfectly, optimization very fast, and no that undefined issue. Yesterday It's like this:
![image](https

[2020-08-13 13:36] victorreijgwart commented on #33
Hi robot-mh,
These tools are mostly developed for different purposes, so it depends on your application.
What would you like to use it for?

[2020-08-13 13:50] alanpapalia commented on #32
As you were implying, based on some tests that I ran, it definitely seemed to be an issue where running Voxgraph was using all of the system resources (at least that appeared to be the case for the two machines I had issues with) and as a result couldn't read the rosbag quickly enough. Because the computation seemed too heavy for the platforms I eventually wanted to work with, I have since moved t

[2020-08-13 14:06] LXYYY commented on #32
It's a desktop in my lab, with a AMD cpu I can't remember the model since I'm not very familiar with amd cpu, and I'm not in lab now, and a 1660 Super gpu. Anyway it's a lab desktop, and definitely powerful enough.

[2020-08-13 14:15] alexmillane commented on #32
The paper results were generated on an i7 NUC, so a modern laptop should be sufficient.

With that said, it does look like the data isn't getting integrated fast enough. Could you check that you're building in release mode?
[code]
you should see:
`Additional CMake Args:       -DCMAKE_BUILD_TYPE=Release`

[2020-08-13 14:34] LXYYY commented on #32
Hi Alex, I have never built anything in debug during setting up these days. I don't think it's a build type issue. Now I suspect the tensor flow source code building process might changed some system lib version, etc. and the image I used today is a devel one, which may have more changes on the environment than runtime ones. I'll try more tomorrow

[2020-08-13 14:40] LXYYY commented on #32
Let's say maybe protobuf? Voxblox is using block and layer as proto, and maybe it's been changed somehow during the some process like tensorflow building? I know little about protobuf, this guess may be just nonsense.

[2020-08-13 14:43] alexmillane commented on #32
We're only using protobuf to serialize and deserialize maps for writing to disk in response to a save request. So it shouldn't be that (although protobuf is also usually my first suspicion ;) ).

[2020-08-14 00:16] robot-mh commented on #33
Hi，thanks for your reply. As the voxblox is also update every week. For dense mapping with loop closure, used for navigation, whitch would you recommend？ And which for semantic dense mapping?

[2020-08-15 13:48] LXYYY commented on #32
I rolled back my dockerfile, and in some commit the problem was gone, and every works perfectly. Then I manually added steps back to dockerfile one by one trying to reproduce the problem, but it has not shown up ever. I still have no idea about the reason yet. Alan, if you still want to give voxgraph a try, you can try my dockerfile, [voxgraph_docker](git@github.com:LXYYY/voxgraph_docker.git), use

[2020-08-19 13:19] victorreijgwart commented on #33
For dense mapping with loop closures, there would be c-blox and voxgraph. Both use submapping to achieve global consistency, but they align the submaps in different ways. C-blox gets its alignment from the pose graph of ORB-SLAM2 (which you have to run yourself in a different node). This means its loop closures will be vision-based and global. Voxgraph directly uses the ESDFs in the submaps to per

[2020-08-19 13:29] victorreijgwart commented on #32
Thank you for sharing your docker files @LXYYY, and glad to hear it's working for you now.
Hopefully, we'll find time to replicate and narrow down the cause of this problem in the future. If others run into the same issue in the meantime, I'd refer them to your repository for docker setups if that's ok with you.

[2020-08-20 00:35] #33 closed

[2020-08-20 02:12] robot-mh commented on #33
Hi victorreijgwart,
Thanks for your long reply. What about dense mapping with color? voxgraph is not used 'mesh_use_color' interface, but voxblox support mutiple 'color_mode'.

[2020-08-24 08:27] victorreijgwart commented on #33
Hi @robot-mh,
It'd be possible to use voxgraph to map with color. At the moment the `color_mode` is hardcoded, but changing this should be a matter of adding a rosparam. Would you like to use this? If so I could add it.

[2020-08-24 08:28] #32 closed

[2020-08-24 08:39] robot-mh commented on #33
Hi @victorreijgwart ,
I have read the code, especially with #31, thank you.
By the way, there are many parameters with voxblox that voxgraph hardcoded.
I have another question：Does this TSDF mapping method has the ability to precise dense mapping with color or semantic？ such as tsdf_voxel_size := 0.02 ? Is there any depth camera recommend？
Looking forward to your reply.
Best.

[2020-08-27 03:06] LXYYY opened #35 "voxblox Check failed: (voxel_offset.array() >= 0).all()"
Hi, I am trying voxgraph with realsense d435i and orbslam2, and I set tsdf voxel size and truncation distance smaller to fit the indoor lab environment as
[code]
and I got this error:
[code]
a check failed in voxblox. Is this a bug, or maybe a voxblox version mismatch, which version are you using by the way?

[2020-08-27 11:29] LXYYY commented on #35
This happens occasionally, only twice so far. without this error, it works like magic
![image](https://user-images.githubusercontent.com/15899704/91436927-9bd19500-e89b-11ea-8e6e-68e241ca3c0a.png)

[2020-08-27 22:24] victorreijgwart commented on #35
Hi @LXYYY!
We usually run it with the master branch of voxblox, on Ubuntu 18.04. Thanks for including your settings and a screenshot.
Regarding your settings, for most of the data I work with a truncation distance of roughly 3 to 4 times the voxel size gives the smoothes surfaces. This can vary depending on the sensor noise and on how many of the surface is perceived at very shallow incidence angl

[2020-08-28 05:11] LXYYY commented on #35
that 0.010 should be a typo, but the same error also occurred second time when I set size 0.02 and distance 0.05. Now I am in branch feature/temporal_window of voxblox. if it happened again, I will try to switch back to master. and branch master of voxgraph plus a commit to fix unknown set_unknown_covariance_entries_to_undefined.

[2020-08-28 11:13] victorreijgwart commented on #35
The `feature/temporal_window` branch for voxblox combines all our latest changes and might not be stable for all use cases yet. Are you using the temporal window features or the projective integrator? If not, I'd definitely go for the `master` branch.
In case you do intend to use any of these new features, you could try it in combination with voxgraph's `feature/temporal_window` branch. This is th

[2020-08-28 11:20] LXYYY commented on #35
in the beginning, I switched both to temporal_window, just to see if there are some noticable improvement. I think I forgot to switch voxblox back. And could you please give me some hint about the basic idea of the temporal_window work you are doing?

[2020-08-28 11:30] victorreijgwart commented on #33
Hi @robot-mh,
Yes, the hardcoded params are a leftover from the development stage - where they were fixed to a specific use case. Thanks for reminding me, I'll open a PR to fix it this afternoon.
Voxblox works with small voxels, but it's important to keep in mind that the computing cost increases very quickly when decreasing the voxel size (the complexity depends on the chosen voxblox integrator,

[2020-08-28 11:58] victorreijgwart commented on #35
In the voxgraph version that is currently on `master`, the submaps are created one after the other - each time starting from an empty submap. In the temporal window version, we use a temporally local map instead, in which the point clouds are integrated and then deintegrated after a certain time. The submaps are then created by copying this local map at a regular interval.
The main advantage of th

[2020-08-28 12:05] victorreijgwart commented on #35
Since the integration + deintegration is more expensive than just integration, the temporal window branch also includes a new projective integrator. This integrator can provide a (large) boost in speed when using high-resolution sensors in combination with relatively large voxels. It's also fully deterministic, s.t. integration is exactly reversed by deintegration, and is lock-free.

[2020-08-30 12:27] LXYYY commented on #35
Hi Victor, when I temporal_window branch, I see no meshes on the rviz, but only trajectory. rviz sayes marker has no point. I am debugging the source code for a while but got nothing yet. Just ask, is this normal, that visualization is not finished in temporal_window, or it's just something wrong in my end?

[2020-08-31 08:52] LXYYY commented on #35
I made it to run temporal window with my setup, after tuning the Tf tree. but optimization of the loop closure contrains is messing up the pose graph, I guess it's still a tf issue, between submap poses and the transformation in loop closure msg sent by my modified orbslam2ros. I made a PR to enable checking of loop_closure/enable.
![image](https://user-images.githubusercontent.com/15899704/917016

[2020-09-01 21:41] victorreijgwart commented on #35
Given that the loop closure constraints take relative poses T_t1_t2, it shouldn't be affected by the (global) frame handling and TFs, and since it works well with the `master` voxgraph branch, I also assume your constraints are good :)
Looking up submaps by time is not ready yet in the temporal window version, and might return wrong matches (both for the submaps and `T_submap_robot` relative poses

[2020-09-10 13:45] victorreijgwart commented on #35
Adding loop closures should now work again on the temporal_window branch. In case you have time to give it a try, let me know if it does or doesn't work for you.

[2020-09-12 10:26] LXYYY commented on #35
Thanks for noticing me Victor, I will try your latest commit next week after finish my work at hand

[2020-09-14 02:17] LXYYY commented on #35
Hey Victor, is there any branch of voxblox, where projective integrator can integrate directly from depth image? if not, I will write one. that feature/projective_integrator_rgbd looks like only added some extra tf for rgbd camera, but still only take point cloud as input.

[2020-09-14 11:01] victorreijgwart commented on #35
Hey @LXYYY, we're planning to add support for depth image messages to the `feature/projective_integrator_rgbd` branch. Since we personally don't use depth cameras at the moment and have a few big deadlines coming up, we might not get to work on this until later this year though. Aside from time, there should be no obvious practical difficulties or theoretical issues. If you would have time to add

[2020-09-20 11:15] robot-mh commented on #33
Hi @victorreijgwart ,
Which branch do you recommend for dense mapping with real RGBD camera with slam?
such as realsense d435i and mynteye d1000.
Best.

[2020-10-07 10:37] pauljurczak opened #43 "ERROR in config: Command requires a target workspace"
I tried installation instructions at https://github.com/ethz-asl/voxgraph. Voxbox installed fine, but voxgraph installation produces:
[code]
I retried with (partial) command sequence from #30, but the problem remains.

[2020-10-07 22:04] victorreijgwart commented on #43
It seems that wstool also needs to know what the main source folder of your catkin workspace is ([more info here](http://wiki.ros.org/wstool#Merge_in_Additional_rosinstall_Files)). Could you try these commands?
[code]
Let me know if it helped, then I'll update the instructions.

[2020-10-07 22:43] pauljurczak commented on #43
I'm getting:
[code]

[2020-10-07 23:10] pauljurczak commented on #43
I did:
[code]
which configured the workspace, but the build fails:
[code]
BTW, what I'm really interested in is using `voxgraph` as a standalone C++ library. If there is a simpler way to build it without ROS entanglement, I would like to know.

[2020-10-08 21:56] victorreijgwart commented on #43
Hi Paul,
It's failing because it depends on packages that are normally installed during voxblox's installation (including catkin_simple) and it can't find them.
Did you run the installation steps for voxblox and voxgraph in the same catkin workspace? A workspace normally consists of a directory (called catkin_ws in our instructions), with a src subfolder where all the packages are installed (catki

[2020-10-08 22:01] victorreijgwart commented on #43
Unfortunately, the library and ROS interface for voxgraph currently can't be built separately. We're planning to split them up, akin to what we did for voxblox and cblox, but this would only happen several weeks from now at the earliest.

[2020-10-09 03:11] pauljurczak commented on #43
Now it makes more sense. I was trying to install voxgraph in its own catkin workspace. Could you add a note about shared workspace to installation instructions?

I'm looking forward to trying the standalone version when it's available.

[2020-10-19 09:41] victorreijgwart commented on #43
Great to hear it's working now. I'll add a note to the install instructions.
Once we split out the ROS agnostic library we'll be sure to push it to master.

[2020-10-19 09:41] #43 closed

[2020-10-19 09:54] victorreijgwart commented on #35
Yes, we encountered the same problem when finishing up another project last week. In the version of voxgraph that's currently on `master`, very recent loop closure msgs simply got assigned to the current submap. For the new temporal window version, the cleanest solution would probably be to buffer them in the frontend and attach them when new submaps are received. Would you be interested in implem

[2020-10-19 10:15] LXYYY commented on #35
ok, I will make a pr tomorrow (hopefully

[2020-11-30 07:35] pcarrascof opened #46 "Error with arche_demo"
Always appear:

[ WARN] [1606720602.223973126, 1562071195.639770510]: Lookup would require extrapolation at time 1562071185.811160832, but only time 1562071181.793263616 is in the buffer, when looking up transform from frame [os1_lidar] to frame [odom]

[2020-12-06 23:28] droter opened #47 "Build errors in Noetic"
I updated the CMakeLists.txt to use:
-std=c++14

I am getting this error when building:
/root/src/voxgraph/voxgraph/src/frontend/submap_collection/voxgraph_submap.cpp: In member function ‘const voxgraph::WeightedSampler<voxgraph::RegistrationPoint>& voxgraph::VoxgraphSubmap::getRegistrationPoints(voxgraph::VoxgraphSubmap::RegistrationPointType) const’:
/root/src/voxgraph/voxgraph/src/frontend/subm

[2020-12-09 00:15] victorreijgwart commented on #46
Does the warning appear a few times at the start of the rosbag, or constantly?

[2020-12-09 00:24] victorreijgwart commented on #47
Hi @droter,

Does the error disappear when adding a default clause to the switch statement in the [`VoxgraphSubmap::getRegistrationPoints(...)`](https://github.com/ethz-asl/voxgraph/blob/master/voxgraph/src/frontend/submap_collection/voxgraph_submap.cpp#L131) method? E.g.
[code]

[2020-12-09 01:43] droter commented on #47
I was able to get it to build inside of this docker container.  I might not have the right setup locally.

https://github.com/koide3/voxgraph/

[2020-12-09 05:37] LXYYY commented on #47
@droter ,I think you can check your compiler you are using, If you are using some compiler like clang, it has stricter syntax rules. If you switch to gcc, these errors should be gone

[2020-12-09 06:17] pcarrascof commented on #46
Constantly, during all rosbag.

[2020-12-09 11:34] victorreijgwart commented on #46
Are you running the exact arche_demo launch file, or did you make modifications?
What operating system release and CPU are you using? Are you running it off an SSD?

[2020-12-09 12:22] pcarrascof commented on #46
I am booting as stated in the wiki with roslaunch voxgraph arche_demo.launch with my rosbag_path without any modification in the code. I am running Ros Melodic on Ubuntu 18.04, with i7-9750H CPU.

[2020-12-09 16:43] alexmillane commented on #46
Is the dataset coming off a Solid State Drive (SSD)?

@victorreijgwart Does this indicate that the pointcloud is arriving **before** the pose from Rovio?

[2020-12-10 06:31] pcarrascof commented on #46
I downloaded the bag file on my own computer. I have Ubuntu installed on the main SSD of the computer, but I don't think that's it. At first I thought that the "--clock" was missing to start the rosbag but it is contemplated so I can't find the error.

[2020-12-10 09:49] victorreijgwart commented on #46
The CPU you're using should definitely be fast enough, and Ubuntu 18.04 is the same as what we're running. So everything looks good there. Also good you're running it off an SSD.

@alexmillane yes it seems like the pointclouds arrive before the TFs are updated. This is quite odd, I've only seen the opposite happen before. The chain from `os1_lidar` to `odom` also contains a static TF publisher (la

[2021-01-04 10:33] Rogers34 opened #48 "tf error"
Dear friend!
    I follow the command in the README.md and download the demo dataset. Then i run the demo, something wrong displayed.
Could you give me some advice, help me to find out what is the problem? Thanks a lot!

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

rogers

[2021-01-06 09:22] #47 closed

[2021-01-06 09:28] victorreijgwart commented on #46
@pcarrascof, is it working for you now? If it is, or if you are no longer looking for a solution, feel free to close this GitHub issue.

[2021-01-06 09:37] victorreijgwart commented on #48
Hi @Rogers34, could you share some details about the hardware and OS you're running voxgraph on?

[2021-01-14 15:17] anujchadha284 opened #49 "tf error with voxgraph but not voxblox"
Hi,

I have used lidar data to generate a mesh in voxblox, using a world frame and a lidar frame but when I use this same frame in voxgraph, I get this error: [ WARN] [1610637283.317867210, 1402.171037964]: Waited 2.000s, but still could not get the TF from os_lidar to world
[ WARN] [1610637283.317999068, 1402.171037964]: Skipping pointcloud since the poses at time 1403.063958790 could not be look

[2021-01-14 17:26] anujchadha284 commented on #49
Hi - I managed to fix this issue by speeding up the bag I was using - it was running at 0.1 speed and now I am running it at 0.5 speed. One issue I am getting is the voxgraph mapper node dies when I make the voxel size below 0.2 - is it not built to go that low? Thanks!

[2021-01-17 15:45] #46 closed

[2021-01-17 15:45] #48 closed

[2021-01-17 15:53] victorreijgwart commented on #49
Hi @anujchadha284, glad to hear you found a solution for the TF error.
I personally have had good results with voxels down to 0.05m with reasonably sized outdoor environments, or even 0.02m if it's a single room. This takes quite a bit of RAM though, and if your machine is about to run out of memory the kernel often kills the offending process (in this case voxgraph) to keep your computer from fre

[2021-01-17 17:41] anujchadha284 commented on #49
Okay - I have a big dataset and have 32GB RAM on my machine and currently
am running it with 0.1m voxels with 20m long rays. I am noticing after
running it for a bit , it starts to say no convergence - what possible
solutions are there for that?

On Sun, 17 Jan 2021 at 10:53, Victor Reijgwart <notifications@github.com>
wrote:

[2021-01-18 15:00] victorreijgwart commented on #49
These settings sound reasonable, and 32GB of RAM should be enough.
When you said earlier that the voxgraph node dies, did you mean that its Linux process stops or just that it says "no convergence" on the command line?
In the default settings, the pose graph optimization is configured to stop taking further steps once a total of 4 seconds have passed. When the submaps get large and numerous, the i

[2021-01-18 23:28] anujchadha284 commented on #49
Thanks for the quick reply! So when I have the voxel size too small, the
linux process stops. However, when I changed the voxel size to higher, this
is when I noticed the lack of convergence. I changed the optimization
settings but I am noticing that some part of my mesh is missing when I run
the service call to save the combined mesh. Since we do not care about
real-time performance, what setting

[2021-01-20 15:31] anujchadha284 commented on #49
Hi - so my rosbag is 1074 seconds long and I am running it at 0.05s speed - I am noticing that it works well initially, but after a bit the optimization step takes too long to complete such that when it reaches the next one, I am getting a warning in the terminal that the previous optimization step is not complete. What settings would you recommend for a huge dataset, with a detailed pointcloud. P

[2021-01-26 15:50] alessandromorra opened #50 "Build error with gcc 7.5 on Ubuntu 18.04"
When building the package I get the following error:

[code]

I found a quick fix not sure though if this is desirable: https://github.com/alessandromorra/voxgraph/commit/750593bfb44ad782d9564456b27e94bc80064d38

My setup:

[code]

[2021-01-27 12:38] chennuo0125-HIT opened #51 "download SuiteSparse-4.2.1.tar.gz fail !"
when i use
[code]
i get error as follows:
[code]
maybe network link error, but i can download SuiteSparse-4.2.1.tar.gz by browser, so could you change the cmakelist of SuiteSparse for me without download SuiteSparse-4.2.1.tar.gz ? the cmakelist is as follows:
[code]

[2021-01-28 03:34] #51 closed

[2021-01-28 08:28] SchmiederX opened #52 "Voxgraph using velodyne sensor and LOAM odometry"
Hey,

first of all thanks for your incredible work, my first results using voxblox/voxgraph already look very promissing!
Our data consists of velodyne HDL_64 frames and LeGO-LOAM odometry messages. both messages should be in the base_link frame.

I got some slight issues using voxgraph together with our velodyne HDL-64 Sensor and the provided example config. If I understand that correct the examp

[2021-02-02 13:49] glennliu opened #53 "RGBD dataset and depth extract"
Hi

May I know where to find this dataset used in the paper?
It looks like the machine hall dataset, which does not have depth provided. How do you create depth images to voxgraph?

Thanks

![Screenshot from 2021-02-02 21-46-48](https://user-images.githubusercontent.com/8009679/106609252-59c22300-65a0-11eb-9c30-b83322b36b91.png)

[2021-02-02 14:08] glennliu commented on #53
Found the image_undisort node. Closing the issue.

[2021-02-02 14:08] #53 closed

[2021-02-02 14:11] alexmillane commented on #53
@glennliu This is a different dataset to the Euroc Machine Hall dataset. Here we actually flew with an rgb-d camera.

I'm working on uploading the datasets now (on quite a slow internet connection).

[2021-02-03 06:01] glennliu commented on #53
Thanks for letting me know.
Where can I access to the dataset when you finish uploading?

[2021-02-03 06:10] alexmillane commented on #53
@glennliu Please email me: alex.millane@gmail.com

[2021-02-05 08:18] #52 closed

[2021-02-05 08:57] SchmiederX opened #54 "voxgraph_mapper node dies if tsdf size is 0.05"
As I figured out my problem in #52  I have some follow up questions.

The PC we run voxgraph on is an 8 core i7 with 24GB of RAM. And our Dataset consists of street scenes similar to the Kitti Dataset.

If we run voxgraph with a tsdf size of 0.05 on our Dataset the map has a lot of holes. And the voxgraph_mapping node shuts itself down after some time.

![sparse_map](https://user-images.githubuser

[2021-02-05 09:28] alexmillane commented on #54
This is very small voxel size for this size of scene. I suspect the holes are because your computer is unable to process pointclouds fast enough and the shutdown is because you run out of memory. You also have to consider your rays are touching surfaces very sparsely at their extremes, which will also cause holes.

The problem is that in the standard mode of operation, voxblox (which is performing

[2021-02-05 10:30] SchmiederX commented on #54
hey @alexmillane,

thank you for your very fast and accurate answer! The problem with the holes as you describe seems very plausible to me, as at 7cm voxel size its still working but as I lower the size to 5cm it seems that the rays at greater distances just dont 'touch' enough voxes anymore.

I will look into the `voxel_carving_enabled` and the `allow_clear` parameters. Im running a test right no

[2021-02-05 13:16] alexmillane commented on #54
Hi @SchmiederX.

No worries :). I hope that you can find some settings that work for you.

Good luck with it.

Cheers,
Alex

[2021-02-09 07:54] #54 closed

[2021-03-10 22:13] swarmt opened #55 "Absolute Pose Constraints"
Wow this library is amazing. Thanks for publishing it.

I would like to use the RTK GPS to georeference the mesh. Which should be possible by using the measurements to constrain the graph?

Could you please advise on what needs to be completed for this to work? I imagine that the position covariance needs to be used to weight the node adjustment for fixed/unfixed measurements.

Thanks

[2021-03-24 06:21] Gyudori commented on #51
@chennuo0125-HIT Did you solve the problem? I got many errors with building suitesparse package... Starting with `rm: unrecognized option '--retry-connrefused'` How can you solve the remaining problems?

[2021-03-24 06:22] Gyudori opened #56 "Error on building Suitesparse-4.1.2"
When I type this,
`catkin build voxgraph`

I got this error message:
`rm: unrecognized option '--retry-connrefused'`

And the CMakeLists.txt is like this:
[code]

I don't know why I got this error. The command of line 18 has separated commands using &&

So, after removing the `rm -f SuiteSparse-${VERSION}.tar.gz`
and do again `catkin build voxgraph`
then I got another error,
`tar: You may not spec

[2021-03-24 06:32] Gyudori commented on #56
When I type this,
`catkin build voxgraph`

I got this error message:
`catkin build voxgraph`

And the CMakeLists.txt is like this:
`cmake_minimum_required(VERSION 2.8.3)
project(suitesparse)

set(CMAKE_BUILD_TYPE Release)

find_package(catkin_simple REQUIRED)
catkin_simple()

include(ExternalProject)

set(SUITESPARSE_INCLUDE_DEST ${CATKIN_DEVEL_PREFIX}/include/suitesparse)

file(MAKE_DIRECTORY ${S

[2021-03-24 13:33] Gyudori commented on #56
I solved the problem with my edited CMakeLists.txt.

[code]

[2021-03-24 13:33] #56 closed

[2021-03-25 03:47] chennuo0125-HIT commented on #51
@Gyudori you can see the blog : [https://blog.csdn.net/weixin_37835423/article/details/113320484](https://blog.csdn.net/weixin_37835423/article/details/113320484)

[2021-04-05 09:42] victorreijgwart commented on #35
Hi @LXYYY, I'll close this issue for now and try to review your PR soon. If you have any further questions, don't hesitate to open a new issue :)

[2021-04-05 09:42] #35 closed

[2021-04-05 09:45] victorreijgwart commented on #50
Hi @alessandromorra, thank you for pointing this out. It turns out we had a few issues in GCC 8 and 9 as well. These are fixed in our newest dev branch, but it'd be good to also fix `master`. I'll open a PR that fixes this.

[2021-04-22 08:45] holyly opened #58 "arche_demo bug"
when I run roslaunch voxgraph arche_demo.launch rosbag_path:=${HOME}/Downloads/arche_flight1_2ms_indoor-outdoor-figure-8.bag.and I got warn constantly during roabag run:
[code]

my tf tree:

![image](https://user-images.githubusercontent.com/38023716/115683133-b9062700-a388-11eb-9beb-78d68f421605.png)

and my systerm is ubuntu18.04 , cpu is ii5-9300H, and in SSD.
when the roabag is runing ,the con

[2021-04-22 08:49] holyly commented on #58
Except for a few seconds of the maping, the rest of the time is warning and does not run the mapping node.

[2021-04-22 12:40] victorreijgwart commented on #58
Somehow the lidar_undistortion node seems to be falling behind on your machine. It's also strange that it's taking up so much computing power (it should only use ~5 to 45% of a single thread depending on how your CPU performs).
Are you using the regular (apt install) version of PCL, or a custom version?
The hardware you're using should be sufficient and the TF tree seems to be in order.
Could you

[2021-04-22 13:02] holyly commented on #58
I using the regular (apt install) version of PCL,amd `rosparam get use_sim_time` returns `ERROR: Unable to communicate with master!`.Maybe that's reason ,I'm going to fix it and try it again

[2021-04-22 13:16] holyly commented on #58
After I set `rosparam set /use_sim_time true`,`rosparam get use_sim_time`retuns true,but the mapping is still warn and the final result map still incompelet.

[2021-04-22 13:17] holyly commented on #58
@victorreijgwart After I set` rosparam set /use_sim_time true`,`rosparam get use_sim_timeretuns true`,but the mapping is still warn and the final result map still incompelet.

[2021-04-22 13:18] holyly commented on #58
@victorreijgwart After I set rosparam `set /use_sim_time true`,`rosparam get use_sim_time` retuns true,but the mapping is still warn and the final result map still incompelet.

[2021-04-25 09:13] LXYYY opened #59 "About feature/multi-robot"
Hi Victor, I noticed that multi-robot branch, I was doing similar work last months. I wanted to try this branch, but I can't find a match voxblox branch. Have you committed yet? and how much has been done so far, is it workable now?

[2021-04-26 07:21] LXYYY commented on #59
I found the multi robot branch in voxblox, somehow missed it yesterday

[2021-04-27 10:38] victorreijgwart commented on #59
Hi @LXYYY, yes the feature/multi-robot branch on voxgraph is compatible with the similarly named voxblox branch. As you might have seen, the changes so far are quite small though. It mainly makes it possible to receive and include submaps from other robots, while correctly setting their odometry constraints. The more exciting puzzle pieces like detecting loop closures between different robots and

[2021-04-27 10:46] victorreijgwart commented on #58
Hi @holyly, from what you described it sounds like you have the right setup and are doing the right things - so I'm not sure what could be wrong. It's tricky to debug something remotely. Do you still have the same problem?
Just to be sure, are you on the `master` branches of voxblox, cblox, and voxgraph?

[2021-04-27 11:00] victorreijgwart commented on #55
Hi @swarmt. Sorry for missing your message. Including GPS measurements in the optimization should be possible. When writing the framework, we took this into account as something we might want to do in the future. So most of the infrastructure and some of the building blocks are already there. However, we haven't yet encountered a project where we needed them so this part of the code isn't finished

[2021-04-27 11:00] #50 closed

[2021-04-30 07:06] holyly commented on #58
Hi,I still have this problem,and I am on `master` branches of voxblox,cblox,and voxgraph.
By the way, I find my OpenGL version is 3.0,lower  than some people running this project，their version is 4.6. I was thinking that might be the reason, but for some reason I haven't upgraded OpenGL yet.
 No matter what ,thank you very much!

[2021-04-30 13:11] #59 closed

[2021-05-07 19:42] luisfer12 opened #60 "undefined references to google::protobuf but building protobuf_catkin just fine"
I am building protobuf_catkin just fine but voxplot doesn't seem to be linked correctly. I have seem many similar issues online but no suggestion seems to fix my problem. Any suggestion of what I could try?

[code]

[2021-05-07 19:49] #60 closed

[2021-05-07 19:49] luisfer12 commented on #60
sorry, posted in the wrong place

[2021-05-26 09:08] bulinx opened #61 "lidar_odometry and coloring_point"
I'm sorry to ask this seemingly simple question. But I haven't found a solution for a long time.
I have installed voxgraph and run the packages then have a good result, when I use my own packages there have many problems（my platforms: ubuntu18 melodic), I want to realized coloring lidar point to creat dense map.

1 : I change the odometry source to hdl-graph-slam, my hdl tf tree :
![image](https:/

[2021-05-26 11:16] victorreijgwart commented on #61
From the TF tree it looks like the timestamps of `velodyne_nodelet_manager` are 1744584 seconds behind the rest of the system. Are you running voxgraph on a live robot, from a rosbag or in simulation? If you're running it from rosbag or in simulation, you should set the `use_sim_time` param to `true` before launching the rest of your system. If you're running it from a rosbag, you should also set

[2021-05-26 11:44] bulinx commented on #61
Sorry, I’ve updated the question again, I running voxgraph with my rosbag which Information collection performed by VLP-16, mono, and imu of my own robot.  I will try your suggestion again.  But I still have some  questions above, apologies for the lengthy message and hope my questions are well defined!

[2021-05-26 12:55] victorreijgwart commented on #61
In the rqt graph you shared, the pointcloud topic is not being subscribed to by voxgraph.
Could you remove/disable the `lidar_undistortion` node in voxgraph's launch file, directly map the pointcloud topic to voxgraph itself, and let me know if the map then shows something?

[2021-05-26 12:58] victorreijgwart commented on #61
Actually, when looking at it again, the rqt graph is inconsistent with your launch file screenshot. Are you sure you're launching your new launch file?

[2021-06-10 09:20] SchmiederX opened #62 "Exctract TSDF/ESDF Map from voxgraph"
Hey,

Is there a way to extract the ESDF or TSDF Map that voxblox creates in the background? I need a voxelized representation of the whole map so that I can convert it back to a pointcloud for comparison with another algorithm.

Or is there a way to get the map as a pointcloud *bevor* the Meshing is applied?

Thank you in advance.

[2021-06-10 09:25] alexmillane commented on #62
You want the voxelized map (not surface pointcloud) of all submaps fused together correct?

At the moment there's no service call to do _exactly_ that, but such a map is created when you request the mesh of the combined map. You would just have to make a small modification to save that map to disk.

[2021-06-10 09:29] SchmiederX commented on #62
What do you mean with surface pointcloud ?

Ah perfect, you mean the function where i request, that the map is being saved to a file ?

Thank you for that fast answer!! :)

[2021-06-10 09:36] alexmillane commented on #62
I mean you want the voxels right, not a mesh/pointcloud of the surface? You want freespace voxels for example?

In this function here

https://github.com/ethz-asl/voxgraph/blob/master/voxgraph/src/frontend/voxgraph_mapper.cpp#L435

which generates the pointcloud of the whole map, internally it fuses all submaps to create a single voxelized representation through a call to

https://github.com/ethz-

[2021-06-10 09:45] SchmiederX commented on #62
Yes thats exactly what I need. Thank you.

The combined Map is of type 'TsdfMap' , any idea how I could save it so that it is in a known fileformat?

[2021-06-10 10:04] alexmillane commented on #62
Yep. The 'TsdfMap' contains a 'Layer<TsdfVoxel>' object which has a member function to save it to file:

https://github.com/ethz-asl/voxblox/blob/master/voxblox/include/voxblox/core/layer.h#L270

So in a few lines of code you should be able to achieve what you want.

Now the file format is protobuf stream containing voxel blocks... You will probably have to do a little more work to get it in whate

[2021-06-10 11:07] SchmiederX commented on #62
Perfect!! Thank you very much for your fast help!

As long as I can understand the file format - and for protobuf there should be a documentation - I might be able to convert it!

[2021-06-10 12:05] SchmiederX commented on #62
Okay I have to reopen it :D

I extracted the protobuf file and started getting into the proto stuff. Now I realized that I need the 'encoding' . If im correct I need to have a definition of the message the stream is encoded in, to create a parser for python/c++.
Where is this file located?
I found this:
https://github.com/ethz-asl/voxblox/tree/master/voxblox/proto/voxblox

and created the respecti

[2021-06-11 06:56] SchmiederX commented on #62
Okay further update:

I can 'decompress' the protobuf data now. For anyone interested, the original python library didnt work for me, you need to stream the data and I found this library that worked perfectly:
https://github.com/cartoonist/pystream-protobuf

Using the Block definition found here:
https://github.com/ethz-asl/voxblox/tree/master/voxblox/proto/voxblox

Now I have a list of Blocks. My

[2021-06-11 13:23] alexmillane commented on #62
So voxblox provides methods to load layers stored in protobuf files in c++ code:

https://github.com/ethz-asl/voxblox/blob/7f7892de15c7760ce0fd777315fd1f74f73eda02/voxblox/include/voxblox/io/layer_io.h#L56

But I guess you want this in python so maybe your way is better…

I have personal code I have used in the past to load blocks from a file and put them into a dense grid (map) for matlab. Maybe

[2021-06-11 13:24] alexmillane commented on #62
The best reference for understanding blocks vs. voxels and how they are arranged is the paper where “voxel hashing” was introduced:

https://niessnerlab.org/papers/2013/4hashing/niessner2013hashing.pdf

[2021-06-12 11:34] SchmiederX commented on #62
Hey Alex,

I tried understanding the block concept a little and came up with a solution where I take the center coordinate and create a cube of 16x16x16 around it using the `voxel_size` parameter. (0.25 in this case) Thus I created a Pointcloud with every block (455 in my case) having 16x16x16 (4096 ) Points.
This is my intermediate result. The rough shape fits the pointcloud I want to compare it

[2021-06-18 07:28] alexmillane commented on #62
This function here:

https://github.com/alexmillane/cartographer_cblox/blob/18896e37a552c2fb9c32fcb68336b65c04e3a9cd/src/library/cblox_matlab_converter.cpp#L304

Iterates over all observed voxels in a map and returns their distance values and global indices. I guess you wanna do something similar?

[2021-06-18 08:11] SchmiederX commented on #62
Hey Alex,

basically yes, I want to display (and save) the voxelmap as a pointcloud. Basically I want to create a pointcloud from the TSDF Map.
The proto file I created includes blocks if TSDF voxels. As described above I can read them in Manually and display a point for each voxel in a block (4096, because the Block has a dimention of 16x16x16)
I now need to decrypt the voxel_data, to remove the

[2021-06-22 09:45] SchmiederX commented on #62
Finally! :D

I got a result I can at least interpret and work more with.
![voxgraph_pointcloud](https://user-images.githubusercontent.com/33832215/122902205-95db0200-d34e-11eb-8d6b-d7dc3ee93040.png)

Using the cartographer_cblox as a base I tried to read the tsdf map file I created. As the function only takes a cblox_submap I had to include this function from voxgraph:
https://github.com/ethz-asl/

[2021-06-22 15:50] alexmillane commented on #62
Great to see that you got it working in the end!

I hope that you get some good results using voxgraph!

[2021-06-22 15:50] #62 closed

[2021-07-24 12:09] calmelo opened #63 "How can I use it with realsense d435i?"
I really don't know. Your readme.md doesn't mention this.

[2021-07-24 12:10] calmelo commented on #63
I don't know what output_mission_frame and output_sensor_frame are.

[2021-09-11 02:36] LanWu076 opened #64 "How to include pitch and roll in the registration constraints"
Such an awesome project ! Thank you for sharing the code!
I have a question about the optimization. How to add Pitch and Roll terms in the registration constraints if we don't have the IMU to provide observable gravity?
Pitch and Roll will change the second term of the Jacobian. Will it also affect the first term, the trilinear interpolation function?
Looking forward to your reply :)

[2021-09-25 12:29] preetijain7681 opened #65 "voxgraph for multi robot"
How do I use the voxgraph for multi robot.

[2021-11-23 11:27] liuzhenboo opened #66 ""/voxgraph_mapper/active_mesh" has error status!"
![voxgraph_bug png_1](https://user-images.githubusercontent.com/57830284/143015996-e3b78ea5-ad1d-4b8b-930d-d29cb0d7a8b1.png)

[2021-11-23 11:34] liuzhenboo commented on #63
you don't need modify utput_mission_frame and output_sensor_frame and you just need modify input frame!

[2021-12-09 13:08] liuzhenboo commented on #31
good!

[2022-01-04 07:21] #61 closed

[2022-01-06 14:58] bulinx opened #67 "about other odometry sources and loop closures"
Hello!
Thanks for this awesome framework!
I have installed voxgraph and run the packages then have a good result, when I use my own packages there have many problems（my platforms: ubuntu18 melodic),I'm sorry to ask this seemingly simple question. But I haven't found a solution for a long time.
1.  odom sources come from my own lidar odometry,I am trying to validate the mapping on the kitti dataset

[2022-03-15 12:20] gogojjh opened #68 "Data for testing the registration algorithm"
Very nice works!

Hi, authors, it is very interesting to formulate the registration problem using the distance field. The code provides an example to test the registration algorithm: registration_test_bench.cpp. It seems that the program takes multiple submaps as input (https://github.com/ethz-asl/voxgraph/blob/bd802b5aee54e68e28c94d71cc0fbd7bdda98bd6/voxgraph/config/registration_test_bench.yaml#L

[2022-06-16 09:28] KirillMouraviev opened #70 "Large delay in pose graph update"
Hello,
I ran arche_demo on a PC with Intel i5 6-core processor and 32 GB RAM. I noticed large delay in submap integration and pose graph update. After approximately 1 min of running, only 3 submaps near start position were created:
![submaps_on_1min](https://user-images.githubusercontent.com/15195368/174036478-08b8e80d-b746-4a6a-b4c7-2c59fc99abac.png)

After full rosbag (6 min) has passed, about 1

[2022-06-16 09:41] sam-thomas-dd commented on #70
Is your bag file compressed? I found that decompressing the cow and lady dataset was crucial to real time performance.

[2022-06-16 11:18] KirillMouraviev commented on #70
No, bag file is not compressed. I also ran experiments in simulation with RGBD camera model, and update delays were also very large.

[2022-06-21 14:16] KirillMouraviev commented on #70
I have noticed that each submap requires more time for creation than previous one. It seems that temporal window in Voxblox does not work, and each submap includes all data from start of the algorithm.

[2022-06-22 10:16] KirillMouraviev commented on #70
The reason was in the method choice in `voxblox_temporal_window.yaml` config file. I chose `fast` method, but pointcloud deintegration works only with `projective` method.

[2022-07-04 11:48] #70 closed, assigned to nobody

[2022-07-05 11:51] DavidCapek opened #71 "Loop closure signal"
Hello,
I am currently trying to reproduce the results achieved in the paper and I would like to ask how exactly are you creating the loop closure signal. Were you using pure DBoW2? Is there still a plan to create a native loop closure detection? If yes, is there a branch that I could use?
Thank you very much

[2022-07-25 17:21] nachovizzo opened #72 "How to extract ground truth poses from bagile"
Hello, thanks for opening the source code and releasing the data.

We are trying to get the ground truth poses from the arche-flight-8 dataset, and so far we didn't succeed.

We basically created a simple python script which subscribes to the point cloud msg and lookup transformations for the current frame on the tf tree:

[code]

By inspecting the tf tree we can see that this is how it looks
![im

[2022-07-27 14:20] #72 closed, assigned to nobody

[2022-09-06 15:15] EhrazImam opened #73 "Unable to run it on noetic"
@alexmillane thanks for your great research as i tried to run it on my system where i tried it to run it on melodic and noetic where i was able to run it on melodic but when i tried to run it on noetic i am unable to as while catkin build there is know issue as soon as i tried to run it “roslaunch voxgraph arche_demo.launch” it’s showing unable to find voxgraph and arch_demo.launch

as it’s workin

[2022-09-10 11:30] EhrazImam commented on #73
@alexmillane @michaelpantic @LBern @inkyusa

[2022-10-20 02:02] stopwithfailure opened #74 "fatal error: ouster_ros/point.h: 没有那个文件或目录，执行catkin build lidar_undistortion时"

[2022-10-20 02:13] stopwithfailure commented on #74
1.错误信息
Errors     << lidar_undistortion:make /home/b402/catkin_ws/logs/lidar_undistortion/build.make.004.log
/home/b402/catkin_ws/src/lidar_undistortion/lidar_undistortion/src/lidar_undistorter.cpp:2:10: fatal error: ouster_ros/point.h: 没有那个文件或目录
 #include <ouster_ros/point.h>
          ^~~~~~~~~~~~~~~~~~~~
compilation terminated.
make[2]: *** [CMakeFiles/lidar_undistortion_node.dir/src/lidar_undi

[2022-10-20 02:14] #74 closed, assigned to nobody